<%= content_for :head do %>
	<!-- tipsy.js plugin -->
	<%= javascript_include_tag "plugins/tipsy/jquery.tipsy" %>
	<%= stylesheet_link_tag "tipsy" %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$('.tip-bubble').tipsy({gravity: 's'});
		});
	</script>
	<!-- jScrollPanel.js plugin -->
	<%= javascript_include_tag "plugins/jScrollPane/jquery.jscrollpane.min" %>
	<%= stylesheet_link_tag "jquery.jscrollpane" %>
	<script type="text/javascript" id='sourcecode'>
		jQuery(document).ready(function(){
			$('.topic-links-list, .topic-comments-list').jScrollPane();
		});
	</script>
	<!-- fancybox.js extra -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('#newCommentField').keypress(function(e){
				if (e.keyCode == 13 && !e.shiftKey ) {
					e.preventDefault();
					var form = $(this).parent();
					$.ajax({
						url: form.attr('action') + '.js',
						type: 'POST',
						beforeSend: function(){ form.hide(); form.next().show(); },
						complete: function(){ 
							form.next().hide(); 
							form.show(); 
							form.find('textarea').blur(); 
						},
						data: { content: $(this).val() },
					});
				}
			});
			$('.invite-more-form').submit(function(){
				if (check_emails('.invite-more-form') != true) {
					$('.invite-more-form .error-message').show();	
					return false;
				}
				$.fancybox.close();				
			});
			$('.topic-edit-form').submit(function(){
				if (/^\s*$/.test($('.topic-edit-form input:text').val())){
					$('.topic-edit-form .error-message').show();
					return false;
				}
				$.fancybox.close();
			});
		});
	</script>
<% end %>

<% content_for :main do %>
	<div class="content-topic-main">
		<div class="topic-page-actions clearfix">
			<%= link_to raw('<i class="btn-icon back-i"></i> Back to topics '), home_dashboard_path, class: 'content-btn', style: "float:left" %> 
			<%= link_to raw('<i class="btn-icon delete-i"></i> Leave Topic '), topic_path(@topic), method: :delete, class: 'content-btn', style: "margin-left: 10px" %>
			<a href="#editTopicPopup" class="content-btn popup-trigger"><i class="btn-icon edit-i"></i> Edit Topic </a>
		</div><!-- Topic actions -->
		
		<div class="topic-main-holder clearfix">
		
			<div class="topic-main-header clearfix">
				<h2><i class="icon title-i"></i><%= @topic.name %></h2>
				<div class="count-invited" style="margin-top: 6px;">
					<a href="#inviteMore" class="invite-more popup-trigger" data-topic-id="<%= @topic.id %>">
						<i class="icon more-i tip-bubble" title="Invite more people"></i></a> <span><%= @topic.participants.count %></span> <i class="icon users-i"></i> </div> <!-- Invited friends counter -->
				<div class="topic-author"><i class="icon user-i"></i><span>Started by: <%= @topic.starter_name %></span></div>
			</div> <!-- Header of main topic info -->
		
			<div class="content-divider"></div>
			
			<div class="topic-add-link clearfix">
				<%= form_tag add_links_topic_path(@topic), method: :post, remote: true do %>
					<%= text_field_tag "url", nil, placeholder: "Paste URL in this field", class: "url-field" %>
					<%= submit_tag "submit", class: "content-btn", onclick: "loading(this)"%>
				<% end %>
				<div class="topic-link-loading" style="display:none;text-align:center;">
					<%= image_tag "loading.gif", alt: "loading..." %>
				</div>
			</div><!-- Add link to topic end -->
			
			
			<div class="content-divider"></div>
		
			<div class="topic-links-list">
				<ul>
					<%= render @topic.links.recent %>
				</ul>
			</div><!-- Links list ends -->
		</div> <!-- Main topic info holder -->
	</div> <!-- Main contents of topic page -->
<% end %>

<% content_for :side do %>
	<div class="topic-comments">
		<div class="topic-comments-header">Topic Comments</div>
		<%= form_tag add_comments_topic_path(@topic), method: :post do %>
			<%= text_area_tag "content", nil, placeholder: "Write comment and press 'Enter' to submit", id: "newCommentField" %>
		<% end %><!-- Comment form end -->
		<div class="topic-link-loading" style="display:none;text-align:center;">
			<%= image_tag "loading.gif", alt: "loading..." %>
		</div>
		<div class="content-divider"></div>
		
		<div class="topic-comments-list" >
			<ul>
				<% @topic.comments.each do |comment| %>
					<%= render partial: 'comment', locals: { comment: comment } %>
				<% end %>
			</ul>
		</div> <!-- Comments list -->
		
	</div> <!-- Topic comments end -->
<% end %>

<% content_for :hidden_content do %>
	<%= content_tag "div", class: "invited-list", data: { participants: @email_list } do %><% end %>
	<!-- Popup window for inviting more people -->
	<div style="display: none;">
		<div id="inviteMore" class="pop-content">
	        <div class="pop-content-header">
	        	<div class="pop-content-container">Creating topic is super-easy</div>
	        </div> 
	        <!-- Pop header ends-->
	        <div class="pop-content-form pop-content-container clearfix">
	        	<%= form_tag "#", method: :post, class: 'invite-more-form' do %>		        
			        <div>
				        <label>Invite more friends to join you</label>
				        <%= text_area_tag 'invitees', nil, placeholder: "Enter their emails and separate the addresses by commas. (like 'me@klipt.com, you@klipt.com') "%>
			        </div>
			        <div class="content-divider"></div>
			        <div>
 				        <%= submit_tag "Invite", class: "pop-content-form-button" %>
				        <span class="error-message" style="display:none;"><i class="icon error-i"></i> Invalid email format, please check and try again!</span>
			        </div>
	       		 <% end %>	  
	    	</div><!-- Pop content ends -->
		</div>
	</div><!-- End popup window for inviting more people -->
	
	<!-- Popup window for editing topic -->
	<div style="display: none;">
		<div id="editTopicPopup" class="pop-content">
	        <div class="pop-content-header">
	        	<div class="pop-content-container">Quick editing</div>
	        </div> 
	        <!-- Pop header ends-->
	        <div class="pop-content-form pop-content-container clearfix">
		        <%= form_for @topic, method: :put, remote: true, html: { class: "topic-edit-form" } do |f| %>
			        <div>
				        <label>Edit topic name</label>
				        <%= f.text_field :name, placeholder: "For example 'Places to visit on vacation' ",maxlength: 35  %>
			        </div>
			        <div class="content-divider"></div>
			        <div>
				        <input type="submit" class="pop-content-form-button" value="Finish" />
				        <span class="error-message" style='display:none;'><i class="icon error-i"></i> Fill the name and try again!</span>
			        </div>
	        	<% end %> 
	        </div><!-- Pop content ends -->
		</div>
	</div>
	
	<!-- Popup window for adding or editing note -->
	<div style="display: none;">
		<div id="linkNotePopup" class="pop-content">
	        <div class="pop-content-header">
	        	<div class="pop-content-container">Add or edit note</div>
	        </div> 
	        <!-- Pop header ends-->	        
	        <div class="pop-content-form pop-content-container clearfix">
	        	<%= form_tag "#", method: :post, remote: true, class: 'add-notes-form' do %>
			        <div>
			        	<label>Enter additional notes to the added link</label>
			        	<%= text_area_tag "notes", nil, placeholder: "Enter notes here" %>
			        </div>			       			        
			        <div class="content-divider"></div>			        
			        <div>
			        	<%= submit_tag "submit", onclick: "$.fancybox.close();", class: "pop-content-form-button" %>
			       		<span class="error-message" style="display:none;"><i class="icon error-i"></i> Fill all the fields and try again!</span>
			        </div>			        
		        <% end %>
	        </div><!-- Pop content ends -->       
		</div>
	</div>

<% end %>






