- @topic.links.each do |link|
  .row-fluid.eachLink{id: link.id}
    .span3
      = image_tag link.image_src, alt: "rails.png", size: '180x120' 
    .span7
      %article
        %header
          %h3{style: "display:inline"}= link_to link.title, link.url
          %a.removeLink{href: '#', style: "float:right", data: {link: link.id}}-x- remove link
        .linkNotes 
          - if link.notes.nil?
            %p 
              There is no notes for this link 
              = link_to 'Add Notes', '#' 
          - else
            %p link.notes
          %span Posted by: #{link.creator_name} #{link.created_at}


