- if @topics.count == 0
  .dashbox
    %h3 You're not involved in any topics. 
    %h1 Why wait? <b style="color:red">Get started!</b>
    %a#newTopic2{href: '#newTopicBox', data: {toggle: "modal"}} +New Topic
- else
  .topicNavBox
    - @topics.each do |topic|
      .topicBox 
        .boxTop
          = link_to topic.name, topic
          %span Links #{topic.links.count}
        .boxMid
          = image_tag "rails.png", size: '100x150'
        .boxBut
          %span Comments: #{topic.comments.count}
          %span Members: #{topic.participants.count} 
        .boxExt 
          = link_to '-x- Leave Topic', topic_path(topic), method: :delete
    .topicBox
      %a{href: '#newTopicBox', data: {toggle: 'modal'}} +New Topic
