<% if @topics.count == 0 %>
	<div class="content-no-topics clearfix">
		<p>You're not involved in any topic.<br />
			Why wait? <b>Get started!</b></p>		
		<div class="content-new-topic">
			<a href="#newTopicPopup" class="new-topic-btn popup-trigger"><i class="btn-icon new-topic-i"></i>New Topic</a>
		</div><!-- New Topic ends -->
		
		<small>Click the button and follow instructions.</small>
	</div><!-- No topics content ends -->
<% else %>
	<div class="content-topics-list">
		<% @topics.each_slice(4) do |sub_set| %>
			<div class="topics-list-row">
				<% sub_set.each do |topic| %>
					<!-- Single topic preview  -->
					<div class="topics-list-item">
						<div class="topics-list-item-holder">		
							<div>
								<h3><a href="/topics/<%= topic.id %>"><%= topic.name %></a></h3> <!-- Topic title -->
								<div class="count-clips"><span><%= topic.links.count %> </span><i class="icon clip-i"></i></div> <!-- Clips counter -->
							</div>
							<a href="/topics/<%= topic.id %>" >
								<div class="topic-preview-img-holder">
									<% if topic.links.count > 0 %>
										<%= image_tag topic.find_image_src, alt: "example-img.jpg", size: "200x110" %>
									<% end %>
								</div><!-- Topic preview img holder -->
							</a>
							<div>
								<div class="count-comments"><i class="icon comment-i"></i><span><%= topic.comments.count %></span></div> <!-- Comments counter -->
								<div class="count-invited">
									<a href="#inviteMore" class="invite-more popup-trigger tip-bubble" title="Invite people" data-topic-id="<%= topic.id %>"><i class="icon more-i"></i></a> 
									<span><%= topic.participants.count %></span> 
									<i class="icon users-i"></i> 
								</div> <!-- Invited friends counter -->
							</div> 
						</div> <!-- Single topic preview holder ends -->
						<div class="topics-list-item-shadow"></div><!-- Shadow below the holder -->
					</div><!-- Single topic preview ends -->
				<% end %>
				<% if sub_set.count < 4 %>
					<!-- New Topic -->
					<div class="topics-list-item">
						<div class="content-new-topic">
							<a href="#newTopicPopup" class="new-topic-btn popup-trigger"><i class="btn-icon new-topic-i"></i>New Topic</a>
						</div>
					</div><!-- New Topic -->
				<% end %>
			</div><!-- One row ends -->
		<% end %>
		<% if @topics.count % 4 == 0 %>
			<div class="topics-list-row">
				<!-- New Topic -->
				<div class="topics-list-item">
					<div class="content-new-topic">
						<a href="#newTopicPopup" class="new-topic-btn popup-trigger"><i class="btn-icon new-topic-i"></i>New Topic</a>
					</div>
				</div><!-- New Topic -->		
			</div>
		<% end %>
	</div>
<% end %>


<% content_for :hidden_content do %>
	<%= content_tag "div", class: "invited-list", data: { participants: @email_list } do %><% end %>
	<!-- Popup window for inviting more people -->
	<div style="display: none;">
		<div id="inviteMore" class="pop-content">
	        <div class="pop-content-header">
	        	<div class="pop-content-container">Creating topic is super-easy</div>
	        </div> 
	        <!-- Pop header ends-->
	        <div class="pop-content-form pop-content-container clearfix">
		        <%= form_tag "#", method: :post, class: 'invite-more-form' do %>
					<!-- Hold Invited List Here -->
			        <div>
				        <label>Invite more friends to join you</label>
				       	<%= text_area_tag 'invitees', nil, placeholder: "Enter their emails and separate the addresses by commas. (like 'me@klipt.com, you@klipt.com') "%>
			        </div>
			        <div class="content-divider"></div>
			        <div>				  
				        <%= submit_tag "Invite", class: "pop-content-form-button" %>
				        <span class="error-message" style="display:none;"><i class="icon error-i"></i> Invalid email format, please check and try again!</span>
			        </div>
			     <% end %>	       		         
	    	</div><!-- Pop content ends -->
		</div>
	</div><!-- End popup window for inviting more people -->
<% end %>
<% content_for :head do %>
	<script type="text/javascript">
		$('.invite-more-form').submit(function(){			
			if (check_emails('.invite-more-form') != true) {
				$('.invite-more-form .error-message').show();	
				return false;
			}
			$.fancybox.close();				
		});
	</script>
<% end %>
