%h1 Welcome to klipt
%h2 Sign up now, it's FREE!
= form_for(resource, as: resource_name, url: user_registration_path) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Sign Up'
