<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#loginForm').bind("ajax:success", function(e, data, status, xhr){				
				if(data.success){
					window.location = data.redirect;
				}else{				
					$('#loginForm .error-message').show();	
				}
			});
			$('#signupForm').bind("ajax:success", function(e, data, status, xhr){				
				if(data.success){
					window.location = data.redirect;
				}else{
					var error_msg = "";  
					for (var key in data.errors) {
						error_msg += capitalize(key) + ": " + data.errors[key] + ". ";
					}
					$('#signupForm .error-message').html("<i class='icon error-i'></i>" + error_msg).show();	
				}
			});
			$('#resendPassForm').bind("ajax:success", function(e, data, status, xhr){				
				if(data.success){
					$('#resendPassFormField').hide();
					$('#resendPassFormConfirm').show();		
				}else{
					$('#signupForm .error-message').show();	
				}
			});
		});
	</script>
<% end %>
<div class="content clearfix">
	<div class="intro-content">	
		<div class="intro-text">
			<h1>Research. Share. Collaborate.</h1>	
      		<p>Klipt makes it easy to organize all your online research.
      			Join now to create topic ideas and invite others to contribute to your findings.
      			Happy Klipping!</p>
		</div><!-- Intro text -->
		<div class="intro-signup">
			<h2><span>Sign up</span> in seconds!</h2>	
			<%= form_for "user", url: user_registration_path, remote: true, format: :json, html: { id: "signupForm" } do |f| %>
				<div>
					<label>Enter your e-mail</label>
					<%= f.email_field :email %>	
				</div>				
				<div>
					<label>Enter password</label>
					<%= f.password_field :password, maxlength: 30 %>
				</div>
				
				<div>
					<span class="error-message" style="display:none;"><i class="icon error-i"></i>Fill all the fields and try again!</span>
					<%= f.submit "Get Started", class: "signup-form-button" %>
				</div>				
			<% end %>
		</div><!-- Signup -->	
	</div> <!-- Intro cotnent -->
</div> <!-- Content Ends -->

<% content_for :hidden_content do %>
	<!-- login form -->
	<div style="display: none;">
		<div id="loginPopup" class="pop-content">
	        <div class="pop-content-header"><div class="pop-content-container">Welcome back!</div></div> 
	        <!-- Pop header ends-->
	        
	        <div class="pop-content-form pop-content-container clearfix">
	        	<%= form_for "user", url: new_user_session_path, remote: true, format: :json, html: { id: "loginForm" } do |f| %>
			        <div>
				        <label>Enter account e-mail</label>
				        <%= f.email_field :email %>
			        </div>   
			        
			        <div>
				        <label>Enter account password <a href="#retrievePassPopup" class="popup-trigger">Forgot password?</a></label>
				        <%= f.password_field :password %>
			        </div>     
			        
			        <div class="remember-login">
				        <%= f.check_box :remember_me %>
				        <p>Remember me</p>
			        </div>    
			        
			        <div class="content-divider"></div>
			        
			        <div>
				        <%= f.submit "Login", class: "pop-content-form-button" %>
				        <span class="error-message" style="display:none;"><i class="icon error-i"></i> Incorrect combination of email and password! Try again.</span>
			        </div>
		        <% end %>
	        </div><!-- Pop content ends -->
		</div>
	</div>
	<div style="display: none;">
		<div id="retrievePassPopup" class="pop-content">
	        <div class="pop-content-header"><div class="pop-content-container">Retrieve password</div></div> 
	        <!-- Pop header ends-->
	        <div class="pop-content-form pop-content-container clearfix">
		        <%= form_tag '/resend_password', method: :post, remote: true, id: "resendPassForm" do %>
			        <div id="resendPassFormField">					 						
				        <div>
					        <label>Enter account e-mail</label>
					        <%= text_field_tag :email %>
				        </div>
				        <div class="content-divider"></div>
				        <div>				        
					        <%= submit_tag "Send", class: "pop-content-form-button" %>
					        <span class="error-message" style="display:none;"><i class="icon error-i"></i> Invalid email address, try again!</span>
				        </div>
			        </div>
			        <div id="resendPassFormConfirm" style="display:none;">
			        	<div>
			        		<p>The password has been send to your account, check your emails.</p>
			        	</div>
			        	<div class="content-divider"></div>
			        	<div>
						  <%= button_tag "Ok", type: "button", onclick: "$.fancybox.close(); return false;", class: "pop-content-form-button" %>
						</div>
			        </div>			        
		        <% end %>  
	        </div><!-- Pop content ends -->
		</div>
	</div>
<% end %>
