<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Klipt</title>
	<%= javascript_include_tag "jquery", "jquery_ujs" %>
	<%= stylesheet_link_tag "reset", "bookmarklet_style"%>
	<%= javascript_include_tag "custom" %>
	<script>
		$(document).ready(function(){
			$('.create-btn').click(submitForm);
		});		
		function submitForm(e){
		  e.preventDefault();
	      if (check_emails('.new-topic-form') != true || /^\s*$/.test($('.new-topic-form input:text').val()) ){
			$('.error').show();
	      } else {
	        $(this).unbind('click');
	        $(this).text("Adding...");
	        
	        var data = $('.new-topic-form').serialize();		      		
	        
	        $.post('/bookmarklet/add_topic', data, function(response){ 
	          $('.create-btn').bind('click', submitForm);
	          $('.create-btn').text("Create");
	          var ans = confirm("You have successfully added the topic and the link. Close this bookmarklet?");
	          if (ans == true){
	            window.close();
	          }
	        });
	      }
		}		
	</script>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div class="header-container clearfix">
			<a id="logo" href="#"></a> <!-- Logo -->
			<div id="header-info">
				<span><%= @user.email %></span>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>				
			</div>
		</div>
	</div><!-- Header ends -->
	<div class="content clearfix">
		<div class="block">
			<p class="klip-info">You're about to klip <br />
				 <%= link_to @target_title, @target_url %>
			</p>
		</div>
		<div class="content-divider"></div>
		
		<div class="block  newtopic clearfix">
						
			<%= form_tag '#', class: "new-topic-form" do %>
				<label>Enter Topic Name</label>
		    	<%= text_field_tag :name, "", 
		    		placeholder: "For example 'Places to visit on vacation", maxlength: 35, class: "field" %>							
				<label>Invite friends to discuss it with you</label>
				<%= text_area_tag :invitees, nil, class: 'field',
		    		placeholder: "Enter their emails and separate the addresses by commas. (like 'me@klipt.com, you@klipt.com') " %>
				<%= hidden_field_tag "url", @target_url %>
			    <%= hidden_field_tag "title", @target_title %>
			<% end %>
			<span class="error" style="display:none;"> Invalid input, please try again!</span>					
			<a href="#" class="content-btn create-btn orange">Create</a>						
			<%= link_to "Back", bookmarklet_new_link_path(url: @target_url, title: @target_title), class: "content-btn back-btn" %>
		</div>
	</div> <!-- Content Ends -->
</body>
</html>
