<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>Klipt</title>
	    <!-- jQuery -->    
	    <%= javascript_include_tag "jquery", "jquery_ujs" %>
			    
	    <!-- jQuery plugins --> 
	    <!-- Fancybox--> 
	    <%= javascript_include_tag "plugins/fancybox/jquery.mousewheel-3.0.4.pack",
	    	"plugins/fancybox/jquery.fancybox-1.3.4.pack" %>
	    <%= stylesheet_link_tag Rails.root + "app/assets/javascripts/plugins/fancybox/jquery.fancybox-1.3.4" %>
	    <%= javascript_include_tag 'custom' %>
	    
	    <script type="text/javascript">
	    	var properties = {
	    		'titlePosition'   : 'none',
	            'transitionIn'    : 'fade',
	            'transitionOut'   : 'fade',
	            'onStart'		  : populate_id,
	            'onClosed'		  : clean_up
	    	};
	        $(document).ready(function() {
	          $(".popup-trigger").fancybox(properties);
	          
	        });
          	$(document).ajaxStop(function(){
          		// make sure fancybox is alive
          		$('.popup-trigger').fancybox(properties);
          	});
	    </script>
	    
	    <!-- Stylesheets -->
		<%= stylesheet_link_tag "application" %>
		
		<!-- rails stuff -->
	    <%= csrf_meta_tags %>
		<%= yield(:head) %>
  	</head>
  
  	<body id="loggedin">
		<!-- Header -->
		<div id="header">
			<div class="header-container clearfix">
				<% if user_signed_in? %>
					<div id="topics-quick">
						<% if current_user.topics.count > 0 %>
							<div class="topics-btn"><i class="btn-icon topics-i"></i> My Topics <i class="btn-icon arrow down"></i></div>
							<ul class="h-dropdown">
								<% current_user.topics.each do |topic| %>
									<li><%= link_to topic.name, topic %></li>	
								<% end %>
								<li class="last"><%= link_to "See All Topics", home_dashboard_path %></li>
							</ul>
						<% else %>
							<div class="topics-btn"><i class="btn-icon topics-i"></i> No Topics </div>
						<% end %>
					</div><!-- Quick Topics Dropdown -->
					
					<a class="new-topic-btn popup-trigger" href="#newTopicPopup" ><i class="btn-icon new-topic-i"></i>New Topic</a>
				<% end %>
				<a id="logo"></a> <!-- Logo -->
				<% if user_signed_in? %>
					<div id="profile">
					
						<div class="profile-btn">
							<i class="btn-icon user-i"></i> <%= truncate(current_user.email, length: 23) %> <i class="btn-icon arrow down"></i>
						</div>
						<ul class="h-dropdown">
	    					<li><%= link_to raw('<i class="settings-i"></i>Settings'), edit_user_registration_path %></li>
	    					<li><%= link_to raw('<i class="logout-i"></i>Logout'), destroy_user_session_path, :method=>'delete' %></li>
							<li class="last"><a href="#">About Klipt</a></li>
						</ul>
					</div><!-- Account Dropdown -->
					
					<span>Logged in as</span>
				<% else %>
					<span><a href="#">About Klipt</a></span>
					<span><%= link_to raw('<i class="logout-i"></i>Login'), new_user_session_path %></span>
				<% end %>
				
			
			</div>
		</div><!-- Header ends -->
		
		<!-- Content -->
		<%= content_for?(:content) ? yield(:content) : yield %>
		
		<!-- Popup window for creating new topic -->
		<div style="display: none;">
			<div id="newTopicPopup" class="pop-content">
			    <div class="pop-content-header">
			    	<div class="pop-content-container">Creating topic is super-easy</div>
			    </div><!-- Pop header ends-->
			    
			    <div class="pop-content-form pop-content-container clearfix">
				    <%= form_tag '/topics', method: :post do %>
					    <div>
					    	<label>Enter topic name</label>
					    	<%= text_field :topic, :name, value: '', placeholder: "For example 'Places to visit on vacation", maxlength: 35 %>
					    </div>
					    <div>
					    	<label>Invite friends to discuss it with you</label>
					    	<%= text_area_tag :invitees, nil, placeholder: "Enter their emails and separate the addresses by commas. (like 'me@klipt.com, you@klipt.com') " %>
					    </div>
					    <div class="content-divider"></div>
					    <div>
					    	<%= submit_tag 'Create', class: 'pop-content-form-button', onclick: "$.fancybox.close();"%>
					    	<span class="error-message"><i class="icon error-i"></i> Fill all the fields and try again!</span>
					    </div>
				    <% end %>        
			    </div><!-- Pop content ends -->
			</div>
		</div>
	
	</body>
</html>